/* helpers */
.margin-top {
	margin-top: @grid-gutter-width;
}

.half-margin-top {
	margin-top: (@grid-gutter-width / 2);
}

.margin-bottom {
	margin-bottom: @grid-gutter-width;
}

.half-margin-bottom {
	margin-bottom: (@grid-gutter-width / 2);
}

.no-margin {
	margin: 0;
}

.pl5 {
	padding-left: 5px;
}

.pr5 {
	padding-right: 5px;
}

.npl {
	padding-left: 0;
}

.npr {
	padding-right: 0;
}

img.responsive {
	max-width: 100%;
}