section.leagues {
		position: relative;
		.logos {
			position: absolute;
			top: 2em;
			right: 1.5em;
			font-size: .6em;

			p {
				.text-center();
			}
		}

		h5 {
			margin: 0 0 .2em 0;
			font-weight: bold;
			font-family: 'Ropa Sans';
			
			&+p {
				font-size: .8em;
			}
		}

		.promobox {
			.well {
				min-height: 21em;
			}

			h3 {
				margin-top: 0;
			}

			img {
				display: inline-block;
				margin: .5em 0 1em;
			}

			ul {
				font-size: .8em;
			}

			&.selected {
				.well {
					background: @brand-primary;
					color: white;

					h3 {
						color: white;
					}
				}
			}
		}

		.leagues-list {
			.margin-top();

			.league{
				padding: 1.5em 0;
				border-top: 1px solid @light_gray;


				.logo{
					font-size: 0.625em;
				}
				.date {
					span,p {
						font-size: .8em;
					}
				}

				.participants {
					p {
						margin-top: .5em;
						font-size: 2em;
					}
				}

				.type {

					p {
						margin-top: 1.4em;

						span {
							font-size: 2em;
							
						}

						span + a {
							margin-left: 1em;
							position: relative;
							top: -.7em;
						}

					}
					
					.icon {
						border-radius: 50%;
						background: @brand-primary;
						padding: .3em;


						&:before {
							position: relative;
							left: .2em;
							color: white;
						}
					}

					.icon.icon-unlocked {
						background-color: @brand-success;
						font-size: 1.8em;
						padding: .45em;

						&:before {
							left: .1em;
						}
					}

					.icon.icon-lock {
						background-color: @brand-danger;
					}
				}

				.monitor {
					p {
						font-size: 1.5em;
						margin-top: .8em;
						color:white;

						.icon {
							border-radius: 50%;
							background: @medium_gray;
							padding: .4em;

							&:before {
								position: relative;
								color: white;
								font-size: .9em;
							}
						}
					}
				}


				&:first-child {
					border-top: none;
				}
			}
		}


		.form {
			.description {
				p {
					font-size: .8em;
					margin: 0;
				}
			}

			p.info {
				font-size: .7em;
			}

			.right-col {
				.btn-upload {
					position: relative;
					top: 1.4em;
					margin-left: 0;
				}
			}


			.btn-upload {
				margin-left: 1em;
			}

			.btn-warning, .btn-danger {
				color: white;
				font-size: 1em;
			}

			.icon-calendar+input {
				width: auto;
			}

			.datepicker {
				display: inline-table;
				width: 150px;
				margin: 0 .6em;
				position: relative;
				top: .6em;
			}

			.radio {
				font-size: .8em;
			}

		}
		

		.monitor-header {
			
			h2 {
				margin: 0;
			}

			.col-xs-6 {
				padding-bottom: @grid-gutter-width
			}
		}

		table.basic-info {
			font-size: .8em;

			th {
				.text-right();
			}

			th,td {
				padding: .4em .4em;
			}

		}

		.info-table {
			h4 {
				background: @brand-primary;
				color: white;
				padding: .2em .5em;
				margin: 0 0 .5em 0;
				font-weight: normal;
			}

			.info {
				font-size: .8em;
				margin: .5em 0;
			}

			.view-more {
				.text-right();
				font-size: .8em;
			}

			.extra {
				font-size: .8em;
			}

			table {
				thead {
					th {
						font-size: .7em;
					}
				}
			}
		}
		.legend {
			.margin-top();
			font-size: .8em;

			.legend-items {
				list-style: none;
				display: inline;
				margin: 0;
				padding: 0;

				.legend-item {
					display: inline-block;
					margin-left: 1em;
					border-left: 1px solid @light_gray;
					padding: .4em 0 .4em 1em;

					&:first-child {
						margin-left: 0;
						border-left: none;
					}

					.icon {
						margin-right: .4em;
					}
				}
			}
		}

		.grid {
			.margin-top();
			font-size: .8em;

			.names {
				.header-cell {
					&>div {
						.text-right();
						font-weight: bold;
					}
				}

				.name-cell {
					.text-right();

					img {
						position: relative;
						border: 1px solid @medium_gray;
						bottom: .2em;
						margin-left: .4em;
					}
				}
			}
			.grid-scroll {
				overflow-x: scroll;
				max-width: 960px;
				padding: 0;

				.grid-container {
					width: 1440px;

					.column {
						width: 120px;
						display: inline-block;
						float: left;

						.header-cell {
							.text-center();
							background: @light_gray;

						}

						.grid-cell {
							.text-center();
							border: 1px solid @light_gray;
							border-bottom-color: transparent;
							border-left-color: transparent;
							font-size: 1.2em;

							&:last-child {
								border-bottom-color: @light_gray;
							}

							.icon {
								margin: 0 .4em;
							}
						}

						&:first-child {
							.grid-cell {
								border-left-color: @light_gray;
							}
						}

						&.assignment {
							.header-cell {
								background: @brand-primary;
								color: white;
							}
						}
					}
				}
			}

			.names .header-cell, .grid-container .header-cell {
				height: 60px;
				position: relative;

				&>div {
					line-height: 1em;
					position: absolute;
					width: 100%;

					&:first-child {
						top: 5px;
					}

					&:last-child {
						bottom: 5px;
					}
				}
			}

			.names .name-cell, .grid-container .grid-cell {
				height: 40px;
				line-height: 40px;
			}
		}

		form.activity-filter {
			select {
				min-width: 150px;
				margin-right: 1.5em;
			}

			label {
				font-size: .8em;
			}
		}

		table.activity-table {
			thead {
				th {
					.text-center();
				}
			}

			tbody {
				tr {
					&.assignment {
						background: @brand-info;

						td {
							height: 4em;
							vertical-align: middle;
						}
					}
				}
				td {
					.text-center();
					font-size: .8em;

					&.student {
						.text-left();
						font-weight: bold;
						border-top: 3px solid @medium_gray;
						background: lighten(@light_gray, 7%);
						vertical-align: middle;

						img {
							border: 1px solid @medium_gray;
							margin-right: .5em;
						}
					}
				}
			}

			.observations {
				.text-left();
			}
		}
		
		ul.league-info {
			list-style: none;
			margin: 0;
			padding: 0;
			font-size: .8em;

			>li {
				border-top: 1px solid @light_gray;
				padding: .8em;

				&:first-child {
					padding-top: 0;
					border-top: none;
				}

				&:nth-child(even) {
					background: lighten(@light_gray, 10%);
				}

				dl {
					ul {
						list-style-type: disc;
						margin: 0;
						padding-left: 2em;
					}
				}
			}
		}

		.month-selector {
			font: 2.5em 'Ropa Sans', sans-serif;
			text-align: center;
			color: @color_nav_bg;
			letter-spacing: -.05em;
			.half-margin-bottom();

			.glyphicon {
				font-size: .6em;
				color: @medium_gray;
				cursor: pointer;
				color: @color_nav_bg;
				text-decoration: none;

				&:hover {
					opacity: .7;
				}

				&.prev {
					margin-right: .4em;
				}
				
				&.next {
					margin-left: .4em;
				}

			}

			.other-month {
				font-size: .6em;
				opacity: 0.4;
				position: relative;
				bottom: .15em;
				margin: 0 1em;
			}
		}

		table.calendar {
			width: 100%;

			thead th {
				.text-center();
				background: @color_nav_bg;
				color: white;
				font-family: 'Ropa Sans';
				text-transform: uppercase;
				font-size: 1.1em;
				font-weight: normal;
				font-style: normal;
			}

			thead th, tbody td {
				width: 14.28%;
				box-sizing: border-box;
				padding: 1em;
			}

			tbody td {
				border: 1px solid @light_gray;
				position: relative;
				height: 7em;
				font-size: .8em;

				.number {
					font-size: .7em;
					position: absolute;
					left: .5em;
					top: .5em;
				}
				
				&.assignment {
					background: @brand-primary;
					color: white;

					.number {
						color: white;
					}
				}

				&.indicator {
					background: @brand-info;
					color: @color_nav_bg;

					.number {
						color: @color_nav_bg;
					}
				}

				&.saturday, &.sunday {
					background: lighten(@light_gray, 5%);
				}

			}
		}


		table.assignments {
			td {
				.text-center();
				vertical-align: middle;

				.btn {
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					font-size: 1.5em;
				}
			}
		}


		&.enroll {
			font-size: .8em;
			h4,h5 {
				margin-top: 0;
			}

			h5 + p {
				font-size: 1em;
			}

			input[type=checkbox] {
				margin-left: -10px;
				margin-right: .8em;
			}
		}

		/* overrides */
		.steps {
			.step {
				min-width: 0;
				padding: 1em 1em 1em .5em;

				.name {
					font-size: 1.4em;
				}

				.info {
					font-size: .8em;
				}
			}
		}

		ul.nav-tabs {
			border-bottom-color: @light_gray;
			li {
				margin-bottom: 0;
				
				&.active {
					a {
						background: @medium_gray;
						// color: white;
						color: @color_nav_bg;
					}
				}

				a {
					background: @light_gray;;
					// color: white;
					color: @color_nav_bg;
					
					font-family: 'Ropa Sans';



					&:hover {
						
					}
				}
			}
		}

}