html, body {
	height: 100%;
}

h1,h2,h3,h4 {
	font-family: 'Ropa Sans';
	font-weight: normal;
}

header {
	background: lighten(@color_nav_bg, 5%);
	padding: 1em 0;

	.col-xs-9 {
		top: .2em;
		text-align: right;
	}

	ul.nav {
		display: inline-block;

		li {
			a {
				color: white;

				&:active,&:hover {
					background: @header_nav_btn_bg;
				}
				
			}
			
			&.open {
				a {
					color: @header_nav_btn_bg;
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
				}

				.dropdown-menu {
					border-top-left-radius: 0;
					border-top-right-radius: 0;
					border-top-width: 0;

					&.login {
						width: 15em;
						padding: .5em;
						left: auto;
						right: 0;

						label {
							display: block;
							font-size: .8em;
							text-align: left;
							color: @medium_gray;
						}

						input[type=text], input[type=password] {
							display: block;
						}

						.form-actions {
							text-align: left;
						}
					}
				}
			}
		}
	}
}

footer {

	background: @light_gray;
	padding: 2em 0;
	.margin-top();

	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			display: inline-block;
			vertical-align: top;
			margin-right: .8em;

			a {
				color: @color_nav_bg;
				font-size: .8em;

				&:hover {
					color: @color_nav_bg;
				}

				&.icon:hover{
					text-decoration: none;
				}
			}

			&:first-child {
				margin-right: .2em;
			}
		}
	}
	.icon {
		font-family: 'icomoon';
		font-size: 1.4em;
		opacity: .8;
		
		&:hover {
			opacity: 1;
		}
	}
}

footer, .page-wrap:after {
	/* .push must be the same height as footer */
	height: 5.625em; 
}

.page-wrap {
	min-height: 100%;
	/* equal to footer height */
	margin-bottom: -5.625em; 
}
.page-wrap:after {
	content: "";
	display: block;
}


.table {
	tr {
		td {
			font-size: .85em;
		}
	}

	th {
		text-transform: uppercase;
		background: @light_gray;
	}

}

.icon {
	&.green {
		color: @brand-success;
	}

	&.red {
		color: @brand-danger;
	}
}



/* calendario */
.calendar {
	.month {
		font: 3em 'Ropa Sans', sans-serif;
		text-align: center;
		color: @color_nav_bg;
		.half-margin-bottom();

		.glyphicon {
			font-size: .6em;
			color: @medium_gray;
			cursor: pointer;
			color: @color_nav_bg;
			text-decoration: none;

			&:hover {
				opacity: .7;
			}

			&.prev {
				margin-right: .4em;
			}
			
			&.next {
				margin-left: .4em;
			}

		}
	}

	.week-selector {
		text-align: center;
		.margin-bottom();

		a {
			position: relative;
			margin: 0 2em;
			&.btn {
				border-radius: 4px;
			}
		}
	}
	
	.columns {
		width: 100%;
		margin: 1em auto;
		box-sizing: border-box;
		
		&:after {
			display: block;
			float: none;
			clear: both;
		}

		.column {
			width: 20%;
			display: inline-block;
			border-left: 1px solid #a6a8ab;
			padding: 0;
			box-sizing: border-box;
			float: left;
			min-height: 35em;

			&:first-child {
				margin-left: 0;
				border-left: none;
			}
			
			&.today {
				.dayname {
					background: @color_nav_bg;
					color: white;
				}
			}

			.dayname {
				text-align: center;
				font: 1.5625em 'Ropa Sans';
				padding: .5em 0 .5em;
				color: @color_nav_bg;
				
				
				sup {
					font-size: .55em;
				}
			}

			.indicators {
				.item {
					background: @light_gray;
					border: 1px solid @medium_gray;
					border-bottom: 3px solid @medium_gray;
					border-radius: .3em;
					margin: .8em .4em;
					padding: .2em .6em;
					
					.name {
						color: @color_nav_bg;
						font-size: .8em;
						font-weight: bold;
						border-bottom: 1px solid @color_nav_bg;
						margin-bottom: .6em;
					}

					
					.info {
						color: @color_nav_bg;
						overflow: hidden;
						margin: .6em 0;
						
						.hour {
							float: left;
							font-weight: bold;
							
							&:before {
								content: '\e60b';
								margin-right: .3em;
								font-family: 'icomoon';
								font-size: .9em;
								font-weight: normal;
							}
						}

						.status {
							float: right;
							font-size: .7em;
							font-weight: bold;
							padding: .2em .4em;
							border-radius: .4em;
							
							&.forecasted {
								color: white;
								background: @brand-success;
							}

							&.missed {
								color: white;
								background: @brand-danger;
							}

							&.pending {
								color: white;
								background: @brand-warning;
							}
						}

					}

					.values {
						font-size: .7em;
						margin: .5em 0 .6em;
						
						table {
							width: 100%;
							border-collapse: collapse;
							border-radius: 15px;

							tbody {
								tr {
									td {
										background: white;
										padding: .2em .4em;
										border: 1px solid @medium_gray;
										text-align: center;
									}
								}
							}
							thead {
								tr {
									th {
										background: @brand-primary;
										color: white;
										padding: .2em .4em;
										border: 1px solid @medium_gray;
									}
								}
							}
						}
					}
				}
			}
		}

	}
}

/*Steps*/
.steps {

	line-height: 1.5em;

	.step {
		display: inline-block;
		background: @stepBaseColor;
		padding: 1em .5em 1em .5em;
		position: relative;
		margin-left: 2em;
		min-width: 12em;
		
		.name {
			font-size: 1.8em;
			font-family: 'Ropa Sans';
			text-transform: uppercase;
		}

		.name, .info {
			opacity: 0.5;
		}

		&:first-child {
			padding-left: 1.5em;
			margin-left: 0;

			&:before {
				display: none;
			}
		}
		
		&:before {
			content: '';
			display: block;
			width: 0;
			height: 0;
			border-top: 2.5em solid @stepBaseColor;
			border-left: 1em solid transparent;
			border-right: 1em solid @stepBaseColor;
			border-bottom: 2.5em solid @stepBaseColor;
			position: absolute;
			top: 0;
			left: -2em;
		}
	 
		&:after {
			content: '';
			display: block;
			width: 0;
			height: 0;
			border-top: 2.5em solid transparent;
			border-left: 1em solid @stepBaseColor;
			border-right: 1em solid transparent;
			border-bottom: 2.5em solid transparent;
			position: absolute;
			top: 0;
			right: -2em;
		}

		&.past {
			background: @stepPastColor;
			color: white;
			
			&:before {
				border-top-color: @stepPastColor;
				border-left-color: transparent;
				border-right-color: @stepPastColor;
				border-bottom-color: @stepPastColor;
			}
			&:after {
				border-top-color: transparent;
				border-left-color: @stepPastColor;
				border-right-color: transparent;
				border-bottom-color: transparent;
			}
		}

		&.current {
			background: @stepCurrentColor;
			color: white;

			.name, .info {
				opacity: 1;
			}

			&:before {
				border-top-color: @stepCurrentColor;
				border-left-color: transparent;
				border-right-color: @stepCurrentColor;
				border-bottom-color: @stepCurrentColor;
			}
			&:after {
				border-top-color: transparent;
				border-left-color: @stepCurrentColor;
				border-right-color: transparent;
				border-bottom-color: transparent;
			}
		}
	}
}

.panel.no-padding {
	.list-group {
		margin: 0;
		.list-group-item:first-child {
			border-radius: 0;
		}
		.list-group-item:last-child {
			border-radius: 0;
		}

		span {
			margin-right: .4em;
		}
	}
}
/*fin Steps*/



// modulo articles
.articles{
	.article {

		border-top: 1px solid @medium_gray;
		padding-top: 1em;
		margin-bottom: 1em;

		h5 {
			margin-top: 0;
			margin-bottom: .5em;
		}

		p {
			font-size: .8em;
		}

		&:first-child {
			border-top: none;
		}

		.col-xs-5 {
			position: relative;
			top: .7em;
		}

		.col-xs-2, .col-xs-1, .col-xs-6 {
			line-height: 68px;
			height: 68px;
		}
	}

	&.mine {
		.article {
			.col-xs-2, .col-xs-1, .col-xs-6 {
				line-height: 34px;
				height: 34px;
			}
		}
	}
}

// modulo top3
.widget-top3 {

	h6 {
		padding-bottom: .6em;
		border-bottom: 1px solid @light_gray;
		margin-bottom: .9em;
	}

	ol {
		counter-reset: li;
		margin: 0;
		padding: 0;

		li {
			position: relative;
			list-style: none;
			margin-top: 1em;

			&:first-child {
				margin-top: 0;
			}

			&:before {
				content: counter(li);
				counter-increment: li;
				font-size: 1.6em;
				font-weight: bold;
				left: 0;
				position: absolute;
				top: .2em;
			}

			img {
				margin-left: 1.5em;
				margin-right: .5em;
			}

			.author {
				font-size: .8em;
			}
		}
	}
}

// tabla ranking
.table.ranking, .table.blue-header {
	th {
		background: @brand-primary;
		color: white;
		vertical-align: middle;
	}

	a.icon {
		font-size: 1.5em;
		color: @text-color;
		text-decoration: none;
	}

	img.logo {
		margin-right: .5em;
	}
}

.first-level {}
.second-level {
	span {
		margin-left: 1.5em;
		margin-right: .4em;
	}
}
.third-level {
	span {
		margin-left: 3.5em;
		margin-right: .4em;
	}
}

/* */
.panel.no-padding {
	.panel-body {
		padding: 0;
	}
}

/* BOOTSTRAP OVERRIDES */
h1 {
	font-family: 'Ropa Sans';
	font-size: 50px;
	letter-spacing: -.04em;
}

h3 {
	font-size: 30px;
	font-family: 'Ropa Sans';
	letter-spacing: -.02em;
}

h4 {
	font-size: 22px;
	font-family: 'Ropa Sans';
	letter-spacing: -.02em;
}


.container-fluid {
	max-width: 1170px;
}

.navbar {
	border-radius: 0;
}

.btn {
	font-weight: 600;
	letter-spacing: -.02em;
	
	&.btn-primary {
		color: white;
	}
}

.panel-primary {
	&> .panel-heading {
		
		h3 {
			font-family: 'Ropa Sans';
			text-transform: uppercase;
			font-size: 1.4em;
		}
	}
}

.breadcrumb {
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	font-size: 1.2em;

	ol {
		margin: 0;
		padding: 0;
	}
}

// villereadas
.col-xs-2.special {
	width: 20%;
}

textarea {
	resize: none;
}